.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
}

.header>div > svg {
    color: rgb(241, 206, 6);
    font-size: 100px;
}
.header>div >h1{
    color:rgb(255, 255, 255);
    font-size: 50px;
    margin: 15px;
    
}
.header>div{
    display: flex;
}

.linksNav nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    overflow: hidden;
}

.linksNav nav ul li {
    display: inline-block;
    margin-left: 40px;
    font-size: 25px;
}

.linksNav nav ul li a {
    color: rgb(255, 255, 255);    
    text-decoration: none; 
}

.link {
    transition: transform 0.3s ease, color 0.3s ease;
    
}

.link:hover {
    
    color: rgb(223, 211, 147); 
}

.menu{
    color: rgb(241, 221, 103);
    padding:5px 15px 0 0;
    display:none;
    width: 60px
}

.menu:hover{
    cursor: pointer;
    color: rgb(253, 239, 161);
}


.linksMenu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999; 
    margin:0 auto;

    align-items: center;
    justify-content: center;
    
    
}

.menuOn{
    display:flex;
}

.linksMenu >ul{
    list-style: none; 
    box-shadow: 5px;
    padding: 0%;
    
}

.linksMenu >ul>li{
    padding: 10px;

}

.linkMenu{
    margin: 50px;
    text-decoration: none; 
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.linkMenu:hover{
    color: rgb(250, 250, 169);
}

@media (max-width:905px){
    .linksNav>nav{
        display: none;
    }
    .menu{
        display: flex;
    }
    
}
@media (max-width:485px){
    .header>div >h1{
        display: none;
    }
}
@media(min-width:906px){
    .linksMenu{
        display: none;
    }
}


.fechar{
    font-size: 50px;
    color: rgb(202, 201, 201);
    margin-left: 80px;
}

.fechar:hover{
    cursor: pointer;
    color: rgb(250, 255, 223);
}