.main{
    width:400px;
    background-color: rgb(255, 255, 255);
    margin: 50px auto;
    padding: 20px;
}

.main div:nth-child(2){
    display: flex;
    flex-direction: column;
}
.main div:nth-child(2) >input{
    height: 40px;
    font-size: 15px;
    background-color: rgb(236, 236, 236);
    margin: 20px 0 20px 0;
    border: none;
    border-radius: 2px;
}

.select{
    height: 42px;
    margin: 20px 0 20px 0;
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 2px;
}

.main div:nth-child(1) h1{
    font-size: 40px;
}

.main div:nth-child(1) p{
    font-size: 20px;
    color: rgb(175, 175, 175);
}

label{
    font-size: 20px;
    font-weight: bold;
}





@media (max-width:440px){
    .main{
        width:300px;
    }
    .main div:nth-child(1) h1{
        font-size: 35px;
    }
    .main div:nth-child(1) p{
        font-size: 18px;
        color: rgb(175, 175, 175);
    }
}

@media (max-width:340px){
    .main{
        width:200px;
    }
    .main div:nth-child(1) h1{
        font-size: 30px;
    }
    .main div:nth-child(1) p{
        font-size: 15px;
        color: rgb(175, 175, 175);
    }
    label{
        font-size: 18px;
        font-weight: bold;
    }
}